USE [master]
GO
/****** Object:  Database [Proje-3]    Script Date: 11.08.2025 11:01:52 ******/
CREATE DATABASE [Proje-3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Proje-3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Proje-3.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Proje-3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Proje-3_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Proje-3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Proje-3]
GO
/****** Object:  Table [dbo].[education_tracking_dataset_clean_en]    Script Date: 11.08.2025 11:01:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[education_tracking_dataset_clean_en](
	[Student_ID] [varchar](50) NULL,
	[Student_Name] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Course_ID] [varchar](50) NULL,
	[Course_Name] [varchar](50) NULL,
	[Exam_Type] [varchar](50) NULL,
	[Score] [varchar](50) NULL,
	[Attendance_Date] [varchar](50) NULL,
	[Attendance_Status] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
